<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <button><a href="/admin_logout">LogOut</a></button>
    <h1>Admin Panel</h1>
    <button><a href="/add_staff">Add Staff</a></button>
    <button><a href="/view_staff">View Staff</a></button>
    <button><a href="/manage_staff">Manage Staff</a></button>
    <button><a href="/add_task">Add Task</a></button>
    <button><a href="/view_task">View Task</a></button>
    <button><a href="/manage_task">Manage Task</a></button>
    <button><a href="/view_task_status">View Task Status</a></button>
    
</body>
</html>