<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Panel</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <button><a href="/staff_logout">LogOut</a></button>
    <h1>Staff Panel</h1>
    <button><a href="/staff_view_task">View Task</a></button>
    <button><a href="/staff_update_task_status">Update Task Status</a></button>
    <button><a href="/staff_view_task_status_wise">View Task Status Wise</a></button>
</body>
</html>