<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Task Status Wise</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <h1>View Task Status Wise</h1>
    <div>
        Select Status to View Task
        <button><a href="/view_task/pending">Pending</a></button>
        <button><a href="/view_task/working">Working</a></button>
        <button><a href="/view_task/completed">Completed</a></button>
        <button><a href="/view_task/declined">Declined</a></button>
    </div>
</body>
</html>